table {
  width: 100%;
}
table,
th,
td {
  border: none;
  /* border-bottom: 1px solid rgb(102, 122, 102); */

  text-align: center;
  border-collapse: collapse;
}
th,
td {
  padding: 10px;
}
tr:nth-child(even) {
  background: white;
}
tr:nth-child(odd) {
  background: grey;
}

.morebtn {
  width: 100px;
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  background: #1daedf;
  color: #fff;
}
